* {
	box-sizing: border-box;
}

input{
	margin-bottom: 15px;
  padding: 11px;
  font-size: 16px;
 	border-radius: 8px;
 	border: 1px solid darkgray;
  width: 290px;
}

.tabla{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  border: 7px solid #72B372;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #000000;
  width: 95%;
}

tr, td {
	text-align: center;
	border-bottom: 1px solid black;
	margin-top: 16px;
	padding-top: 11px;
	padding-bottom: 11px;
}